/* Sales Graph Container */
.sales-graph h2 {
  text-align: left;
  color: #333;
  font-size: 20px;
  margin-bottom: 20px;
}

/* Sales Graph */
.sales-graph {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
}